{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "KEY_VAULT_URL": "https://kv-oaktree-dev.vault.azure.net/",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": ""
  }
}
